body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 20%;
}

header{
    background-color: rgb(148, 114, 177);
    color:white;
    text-align: center;
    text-decoration: underline;
}

p{
    text-align: center;
    font-style: italic;
}

div{
    width:260px;
    height:450px;
    border: 2px solid black;
    margin: 10px 3px;
    display:block;
    float:left;
}

.boximg1{
    padding:10px 25px 0px;
    width: 75%
}

#Box1{
    background-color: rgb(224, 206, 240);
    margin:10px;
    text-align: center;

}

#Box2{
    background-color: rgb(193, 139, 241);
    margin:10px;
    text-align: center;

}

#Box3{
    background-color: rgb(219, 178, 255);
    margin:10px;
    text-align: center;
}

#navbar{
    background-color:rgb(148, 114, 177);
    display:flex;
    list-style-type: none;
    margin:15px;
    padding: 5px 5px;
}

#navelements a{
    display:block;
    margin:2px;
    padding: 5px 5px;
    border-right: 1px solid rgb(224, 206, 240);
    text-align: center;
    color:white;
    text-decoration: none;
}

#navelements:hover {
    background-color: darkviolet;
}

footer{
    text-align: center;
    font-size: smaller;
    font-style: italic;
}





